APP_NAME=Marvel
PORT=5000
DEFAULT_CURRENCY=USD
# do not use / end of this SHOP_URL
SHOP_URL=http://localhost:3003
#### strip api key ---->

DB_HOST=127.0.0.1
DB_PORT=3302
DB_USERNAME=root
DB_PASSWORD=root
DB_DATABASE=manager_design
DB_SYNCHRONIZE=true
DB_LOGGING=true
DB_CACHE_DURATION=0

REDIS_HOST=127.0.0.1
REDIS_PORT=6377
REDIS_URL='redis://${REDIS_HOST}:${REDIS_PORT}'

ACCESS_TOKEN_SECRET=Wi4Yect9gSgUQbu9C70lhxMb5-KD66tUY9gPG-whGnLPM7S436yxHG6IRbk7dCyG
ACCESS_TOKEN_EXPIRATION=840000
REFRESH_TOKEN_SECRET=QnJQ7rkxQDJaA1u8J4X41APJNnPumQcqLuaPjJ-FuWsWY-XzTejx2ekz7Ge3X-R9
REFRESH_TOKEN_EXPIRATION=6048000

STRIPE_API_KEY=

# Payment -> Paypal
# Values: sandbox or live -> sanbox for development and live for production
PAYPAL_MODE=sandbox

#PayPal Setting & API Credentials - sandbox
PAYPAL_SANDBOX_CLIENT_ID=
PAYPAL_SANDBOX_CLIENT_SECRET=

#PayPal Setting & API Credentials - live
PAYPAL_LIVE_CLIENT_ID=
PAYPAL_LIVE_CLIENT_SECRET=
PAYPAL_WEBHOOK_ID=